* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comic Neue';
    color: rgb(255, 255, 107);
}    

body {
    width: 75%;
    margin: 0 auto;
    background-image: url(../assets/150682-beautiful-black-and-yellow-background-1920x1080.jpg);
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: top center;
}    

header {
    margin-bottom: 0.5rem;
}    

h1 {
  font-size: 50px;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  text-align: center;
}


#banner {
    width: 100%;
    height: 40vh;
    background-image: url(../assets/design1_image2.jpg);
    background-repeat: no-repeat;
    background-position-y: 30%;
    background-size: cover;
    /* margin-bottom: 0.5rem; */
}

#opacity {
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0,0,0,0.5);
}

nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(0,0,0,0.9);
    height: 3rem;
}    

nav a {
    margin: 3px;
    padding: 0 0.5rem;
    text-decoration: none;
    font-weight: bold;
}    

nav a[href="#"] {
    background-color: rgb(255, 255, 107);
    color: rgba(0,0,0,0.9);
    padding: 0.3rem 0.6rem;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}    

main {
    display: flex;
    justify-content: stretch;
    gap: 0.5rem;
}

aside {
    width: 15vw;
    background-color: rgba(0,0,0,0.9);
    border-top-right-radius: 10px;
    align-content: stretch;
    flex-shrink: 0;
}

main img {
    display: block;
    margin: 10px auto;
    width: 70%;
    max-width: 70%;
    max-height: 70%;
}

section {
    background-color: rgba(0,0,0,0.9);
    flex-grow: 1;
    padding: 1.5rem 3rem;
    border-top-left-radius: 10px;
}

section>h3 {
    margin-bottom: 1rem;
    text-align: center;
}

article {
    margin: 1rem 0;
}

article>p {
    text-indent: 20px;
}

article>ol>li:not(:first-child) {
    margin-top: 0.5rem;
}

#rules-title {
    margin-bottom: 0;
}

ul, ol {
    list-style-position: inside;
    
}

ul:last-child {
    list-style-type: circle;
    position: relative;
    left: 2rem;
    padding-right: 2rem;
}

table {
    margin: 2rem;
    width: 80%;
}

th {
    text-align: left;
}

th, td {
    padding: 7px;
}

#schedule-data p {
    margin-bottom: 1rem;
}

#michael {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.text-center {
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
}

.list-alpha {
    list-style-type: lower-alpha;
}

.text-italic {
    font-style: italic;
}

.text-bold {
    font-weight: bold;
}

.text-underline {
    text-decoration: underline;
}